{% extends 'gotblog/base_gotblog.html' %}

{% block title %}
	{{ comment.title|title }}
{% endblock %}

{% block content %}
	<div class="card" style="width: 18rem;">
		<div class="card-header">
			Комментарий
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Id: {{ comment.id }}</li>
			<li class="list-group-item">Пользователь: {{ comment.user }}</li>
			<li class="list-group-item">Пост: {{ comment.post }}</li>
			<li class="list-group-item">Текст: {{ comment.body }}</li>
			<li class="list-group-item">Дата публикации: {{ comment.publication_date }}</li>
		</ul>
	</div>
{% endblock %}